<div class="Top">
  <div class="Top__image">
    <img src="/assets/5918.jpg">
    <div class="derection">
      <% if user_signed_in? %>
      <div class="left-side">
        <div class="left-side__menu">〜 OutPut Menu 〜</div>
        <ul>
          <li><%= link_to "読んだ本をアウトプット", new_book_path, class: "left-side__btn" %></li>
          <li><%= link_to "マイページ", "/users/#{current_user.id}", class:"left-side__btn"%></  li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "left-side__btn",    method:   :delete %></li>
        </ul>
      </div>
    <%  else %>
      <div class="left-side">
        <div class="left-side__hello">早速はじめよう</div>
        <div class="left-side__menu">〜 OutPut Menu 〜</div>
        <ul>
          <li><%= link_to "アカウント作成", new_user_registration_path, class: "left-side__btn" %></li>
          <li><%= link_to "ログイン（アカウントをお持ちの方）", new_user_session_path, class:  "left-side__btn" %></li>
        </ul>
      </div>
    <%  end %>
      <div class="right-side">
        <div class="right-side__explanation">about</div>
        <div class="right-side__letter">RRRead.Com  はいくつかの質問にお答えいただく形式で、本の内容を想していただき知識の定着を助けるの本のアウトプット専用サイトです。</div>
        <div class="right-side__letter">アウトプットは知識の定着に非常に重要です。</div>
        <div class="right-side__letter">また、知識は定着させ、日常に取り入れることで初めて役に立ちます</div>
        <div class="right-side__letter">RRRead.Com  は本で得た知識を力に変えるお手伝いを致します。
      </div>
    </div>
  </div>
</div>
