<div class="Top">
  <div class="Top__image">
    <%= image_tag asset_path("5918.jpg", alt: "book") %>
    <div class="derection">
      <% if user_signed_in? %>
      <div class="left-side">
        <div class="left-side__menu">〜 OutPut Menu 〜</div>
        <ul>
          <li><%= link_to "本のアウトプットページへ", new_book_path, class: "left-side__btn" %></li>
          <li><%= link_to "マイページ", "/users/#{current_user.id}", class:"left-side__btn"%></  li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "left-side__btn",    method:   :delete %></li>
        </ul>
      </div>
    <%  else %>
      <div class="left-side">
        <div class="left-side__hello">早速はじめよう</div>
        <div class="left-side__menu">〜 OutPut Menu 〜</div>
        <ul>
          <li><%= link_to "アカウント作成", new_user_registration_path, class: "left-side__btn" %></li>
          <li><%= link_to "ログイン（アカウントをお持ちの方）", new_user_session_path, class:  "left-side__btn" %></li>
        </ul>
      </div>
    <%  end %>
      <div class="right-side">
        <div class="right-side__explanation">about</div>
        <div class="right-side__letter">RRRead.Com  はいくつかの質問にお答えいただく形式で、知識の定着をお手伝いする本のアウトプット専用サイトです。</div>
        <div class="right-side__letter">科学的に証明された記憶の定着に大切なことは主に下記の3つであるとのことです。</div>
        <div class="right-side__letter">1. 想起すること<br>
        2. アウトプットするためのインプットする<br>
        3. 現在自分が持っている知識と、インプットしたい知識の共通点を繋げる(知識のチャンク化)</div>
        <div class="right-side__letter">読書後に、本サイトで用意した全ての質問にお答えいただくことで、上記の3つを自動的に行っていただき、効率よく知識を定着する手助けになるように設計いたしました。</div>
      </div>
    </div>
  </div>
</div>
