<!DOCTYPE html>
<html>
  <head>
    <title>RRRead.Com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__ber">
        <h1 class="header__ber__logo"><a href="/books">RRRead.Com<a></h1>
        <% if user_signed_in? %>
          <div class="header__ber__Menu">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "Menu__list" %>
            <%= link_to "新規 output", new_book_path, class: "Menu__list" %>
          </div>
        <% else %>
          <div class="header__ber__Menu">
            <%= link_to "ログイン", new_user_session_path, class: "Menu__list" %>
            <%= link_to "新規登録", new_user_registration_path, class: "Menu__list" %>
            <%= link_to "新規 output", new_user_registration_path, class: "Menu__list" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
